*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Tw Cen MT", sans-serif;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("../image/paris2.png");
  background-size: cover;
  background-position: center;
  padding: 0 8%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

nav .logo {
  width: 120px;
  color: #fff;
  cursor: pointer;
}

nav .cart {
  width: 40px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-right: 40px;
  text-align: right;
  list-style-type: none;
}

ul li {
  margin-right: 10px;
}

ul li a {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  transform: translateX(-50%) translateY(-5px);
  height: 3px;
  background: #ffa400;
  transition: 0.3s;
}

ul li a:hover::after {
  width: 38%;
}

.site-container {
  position: absolute;
  bottom: 10%;
  color: #fff;
}
.site-container-right {
  position: absolute;
  bottom: 10%;
  right: 15%;
  color: #fff;
}

.site-container p {
  font-size: 30px;
  font-weight: bold;
}

@keyframes animate {
  100% {
    background-position: -500px 0;
  }
}

.site-container h3 {
  font-size: 40px;
  font-weight: 500;
}
.site-container-right h3 {
  font-size: 70px;
  line-height: 120px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url("../image/pattern.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: animate 20s linear 2s infinite alternate;
}
.site-container-right img {
  margin-left: -10px;
  width: 220px;
}

.site-container .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.row a {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  margin-right: 40px;
  font-size: 40px;
  transition: 0.3s;
}

.row a:hover {
  background-color: #fff;
  color: #000;
}

.row a span {
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
  margin-left: 10px;
}

.row span {
  font-size: 18px;
}

.social-icons {
  position: absolute;
  right: 5%;
  bottom: 8%;
}

.social-icons a {
  padding: 5px;
  margin-right: 4px;
}
/* @media screen and (max-width: 650px)and (min-width: 450px){
} */

.site-container h1 {
  font-size: 120px;
  line-height: 120px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url("../image/pattern.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: animate 20s linear 2s infinite alternate;
}